.mapContainer{
  height: 60vh;
  margin-bottom: 5px;
  margin-top: 5px;
  justify-content: center;
}

#colMap{
  height: 60vh;
  padding: 0;
  max-width: 800px;
}

#map{
  height: 60vh;
  max-width: 800px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

