<h2 class="mt-4 mb-4">Carga del almacén de datos</h2>

<div class="load-component">

    <form class="load-form"
          [formGroup]="miFormulario"
          (ngSubmit)="submitForm()">

          <p>Seleccione fuente:</p>

          <div class="load-radios mb-3">
      
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="loadSource" id="loadSource1" value="all" formControlName="loadSource">
                  <label class="form-check-label" for="loadSource1">
                      Seleccionar todas
                  </label>
              </div>
      
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="loadSource" id="loadSource2" value="cat" formControlName="loadSource">
                  <label class="form-check-label" for="loadSource2">
                      Catalunya
                  </label>
              </div>
      
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="loadSource" id="loadSource3" value="cov" formControlName="loadSource">
                  <label class="form-check-label" for="loadSource3">
                      Comunitat Valenciana
                  </label>
              </div>
      
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="loadSource" id="loadSource4" value="eus" formControlName="loadSource">
                  <label class="form-check-label" for="loadSource4">
                      Euskadi
                  </label>
              </div>
      
          </div>
      
          <button type="submit" class="btn btn-primary">Cargar</button>

    </form>

    <div id="alertMsg" class="hideAlert">

        <div class="alert alert-info mt-4" role="alert" *ngIf="this.respMsg">
            {{ this.respMsg }}
        </div>

    </div>

    <div id="alertSpinner" class="hideAlert mt-4">

        <div class="spinner-border mr-3" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <span>Cargando...</span>

    </div>

    <div class="mt-5">
        <p>¿Desea eliminar todas las bibliotecas?</p>
        <button type="button" class="btn btn-danger" (click)="deleteLibraries()">Eliminar</button>
    </div>

    <div id="alertDelete" class="hideAlert">

        <div class="alert alert-danger mt-4" role="alert" *ngIf="this.respMsgDel">
            {{ this.respMsgDel }}
        </div>

    </div>

</div>


